################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/SSAS_IMEMonitoring/.vs/SSAS_IMEMonitoring
